[submodule "backend"]
	path = backend
	url = https://github.com/developersoftwarebrazil/backend-repo-expense.v2.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/developersoftwarebrazil/frontend-repo-expense.v2.git
